*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
body{
    background-color: #ffffff;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content:"";
    position:absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin:0 auto;
    background-color: #4caf50;
}
.heading p{
    font-size: 18px;
    color:#666;
    margin-bottom: 35px;
    text-align: center;
}
.containerPEV{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    margin-top: 50px;
    overflow:hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.1);
}
.about-content{
    flex:1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color:#000;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color:#666;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e8e41;
    color:#fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;   
}
.about-content .read-more:hover{
    background-color: #4db451;
}
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;   
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .containerPEV{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
       padding: 0px;
       font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}




.wrapper{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content{
    flex: 1;
}

.content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #000;
}

.content p{
    font-size: 18px;
    line-height: 1.5;
    color:#666
}

.image {
    flex: 1;
    overflow: hidden;
    align-items: right;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.content .mais{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e8e41;
    color:#fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.content .mais:hover{
background-color: #4db451;
}

.align-right{
    text-align: end;
    font-size: 13px;
    margin-top: 27px;
}

.align-left{
    text-align:initial;
    font-size: 13px;
    margin-top: 27px;
}

.image:hover img{
    transform: scale(1.1);
}


.titulo2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
}

.titulo2 h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.titulo2 h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.titulo2 p{
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(11, 75, 11);
}


.titulo2 h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.image3{
    flex: 1;
    overflow: hidden;
    align-items: center;

}

.image3 img{
    max-width: 100%;
    display: flex;
    transition: 0.5s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.align-center{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textoprincipal{
    margin-right:50px;
    margin-left:50px;
    padding: 20px;
    text-align: left;
    color: #333;
    font-size: 20px;

}

.lixeiras{
    padding: 5px;
    width: 100%;
}

.textoprincipal h2{
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(11, 75, 11);

}

.lista{
    display: flex;
    margin-right: 50px;
    margin-left: 50px;  
    text-align: left;
    padding: 20px;
    color:#333;
    font-size: 20px;
    column-gap: 40px;
}

.lista h3{
    font-size:25px;
    margin-bottom: 25px;
    color: rgb(11, 75, 11);
    
}


.alinha1{
   margin-top: 45px;
}

.azul h3{
    color: blue;
}

.vermelho h3{
    color: red;
}

.verde h3{
    color: green;
}

.amarelo h3{
    color: rgb(212, 212, 62);
}

.preto h3{
    color: #000
}




.laranja h3{
    color: orange;
}

.branco h3{
    color:#8d8888
}

.roxo h3{
    color: purple;
}

.marrom h3{
    color: brown;
}

.cinza h3{
    color: rgb(78, 77, 77);

}

.titulo3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
    margin-top: 40px;
}

.titulo3 h1{
   font-size: 50px;
   text-align: center;
   color:#000;
   margin-bottom: 25px;
   position:relative;
}

.titulo3 h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: flex;
    margin: 0 auto;
    background-color: #4caf50;
}

.titulo3 .PEV-ABC{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e8e41;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
    transition: 0.3s ease;
}

.titulo3 .PEV-ABC:hover{
    background-color: #4db451;
}

.rodape{
    max-width: 1080px;
    display: flex;
    align-items: end;
    justify-content: left;
    margin: 0 auto;
    font-size: 17px;

    *{
        margin: 0;
        padding: 0;
       
        color: rgb(0, 0, 0);
    }
    



header{
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
}

.logo,.sociais{
    width: 25%;
}

.logo img{
    width: 80px;
    cursor: pointer;
}

.menu{
    width: 80%;
    cursor: pointer;
    
}

.menu nav a{
    color:#000000;
    text-decoration: none;
    padding-right: 60px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #008311, #28ff33); ;
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.sociais button i{
    font-size: 20px;
}
}







footer{
    background: #343434;
    padding-top: 50px;
    

    *{

     font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;

    }
   

}

.container2{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;


.footer-content{
    width: 33.3%;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 90px;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
    text-align: center;
}    

.list{
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #01b328;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 1px solid #01b328;
}
.social-icons i{
    color: white;
    font-size: 25px;

}

a{
    text-decoration: none;
}

a:hover{
    color: #01b328;
}

.social-icons i:hover{
    color: #01b328;
}

.bottom-bar{
    background: #01b328;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}


}
.subtitle {
    text-align: center;
}

.img-container {
    display: inline-block;
}

